@font-face {
  font-family: "CMU Sans Serif";
  font-style: roman;
  font-weight: 500;
  src: url("./fonts/cmu-sans-serif-500-roman.woff2") format("woff2");
}

@font-face {
  font-family: "CMU Sans Serif";
  font-style: italic;
  font-weight: 500;
  src: url("./fonts/cmu-sans-serif-500-italic.woff2") format("woff2");
}

@font-face {
  font-family: "CMU Sans Serif";
  font-style: roman;
  font-weight: 700;
  src: url("./fonts/cmu-sans-serif-700-roman.woff2") format("woff2");
}

@font-face {
  font-family: "CMU Sans Serif";
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/cmu-sans-serif-700-italic.woff2") format("woff2");
}